{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_question') }}" method=post class=add-entry>
    <table>
        <tr>
            <td>Question No: </td><td><input type=text size=3 name=question_no></td>
            <td>Question Text:</td><td><textarea cols=80 rows=4 name=text></textarea></td>
        </tr>
        <tr>
            <td></br><input type=submit value=Add></td>
        </tr>
    </table>
  </form>
  <hr>
  <ul class=questions>
  {% for question in questions %}
    <li>{{ question.question_no }}- {{ question.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  <p>
  <a href="{{ url_for('clear_questions') }}">Clear All Questions</a><br/>
  <a href="/Multi/dashb0ard.html">Back to Dashb0ard</a>
{% endblock %}

